.hed {background-color: black;
text-align:center;
padding: 20px;}
.link {color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    margin: 30px
}

.link:hover {color:blanchedalmond}

body {margin: 0}

.pic{
    width: 400px;
    border: 5px gray solid;
    border-radius: 20px;
    margin: 20px;
    
}
.h1h{
    text-align: center;
}
.bod{
    background-color: bisque;
}